button {
    padding: 15px;

    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #6e7681;

    background-color: #010409;

    font-size: 24px;
    font-weight: 600;
    color: #6e7681;
}